rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId}/worlds/{worldId} {
      allow read, write, delete: if request.auth != null && request.auth.uid == userId;

      match /data/{chunkId} {
        allow read, write, delete: if request.auth != null && request.auth.uid == userId;
      }
    }

    match /users/{userId}/deletedWorlds/{worldId} {
      allow read, write, delete: if request.auth != null && request.auth.uid == userId;
    }
  }
}
